flows.json
[{"id":"57dc3a93.187274","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"566ea927.931f48","type":"ibmiot in","z":"57dc3a93.187274","authentication":"apiKey","apiKey":"f91c268e.efa9f8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"Raspberry","eventType":"","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":129,"y":339,"wires":[["776cb4ae.f4c2ec"]]},{"id":"6d418bfc.fba5d4","type":"function","z":"57dc3a93.187274","name":"pre-token","func":"\nvar apikey=\"Fu4LzpU-BijhAGslKuiNliOCFI1_1ZSnmLKzGGgGlegL\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":520,"wires":[["90960a72.0904a8"]]},{"id":"90960a72.0904a8","type":"http request","z":"57dc3a93.187274","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":431.00000381469727,"y":583.000002861023,"wires":[["cbcc906c.6b11c","e520a77d.0f0148"]]},{"id":"cbcc906c.6b11c","type":"debug","z":"57dc3a93.187274","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":619,"y":639,"wires":[]},{"id":"e520a77d.0f0148","type":"function","z":"57dc3a93.187274","name":"Pre Prediction","func":"var age = global.get(\"age\")\nvar temp = global.get(\"temp\")\nvar sys = global.get(\"sys\")\nvar dia = global.get(\"dia\")\nvar pulse = global.get(\"pulse\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Age\", \"Temperature\", \"Systolic\", \"Diastolic\",\"Pulse\"]],\"values\": [[age,temp,sys,dia,pulse]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":623.0000076293945,"y":535.0000021457672,"wires":[["24c79d22.b457b2"]]},{"id":"24c79d22.b457b2","type":"http request","z":"57dc3a93.187274","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/90aee4a2-925d-47f8-96b7-dfe337e9fdbc/predictions?version=2020-11-25","tls":"","persist":false,"proxy":"","authType":"","x":849,"y":559,"wires":[["4f37c46d.318aec","f52246d4.5c1aa8"]]},{"id":"4f37c46d.318aec","type":"debug","z":"57dc3a93.187274","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1001.9999914169312,"y":643.0000038146973,"wires":[]},{"id":"d03d5377.ca425","type":"debug","z":"57dc3a93.187274","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":560,"wires":[]},{"id":"f52246d4.5c1aa8","type":"function","z":"57dc3a93.187274","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":560,"wires":[["d03d5377.ca425","28baefd2.cd1a"]]},{"id":"776cb4ae.f4c2ec","type":"function","z":"57dc3a93.187274","name":"Global Variable","func":"global.set(\"age\",msg.payload.Age)\nglobal.set(\"temp\",msg.payload.Temperature)\nglobal.set(\"sys\",msg.payload.Systolic)\nglobal.set(\"dia\",msg.payload.Diastolic)\nglobal.set(\"pulse\",msg.payload.Pulse)\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":340,"wires":[[]]},{"id":"28baefd2.cd1a","type":"ui_text","z":"57dc3a93.187274","group":"b42163f3.dbab2","order":2,"width":0,"height":0,"name":"","label":"Result","format":"{{msg.payload}}","layout":"row-spread","x":1170,"y":600,"wires":[]},{"id":"f91c268e.efa9f8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"b42163f3.dbab2","type":"ui_group","z":"","name":"Status","tab":"25adc40d.e5c4bc","order":1,"disp":true,"width":"6","collapse":false},{"id":"25adc40d.e5c4bc","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]